.intro{
    font-size: 72px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.university{
    max-width: 600px;
    margin: 6px;
    border: 2px solid;
}

.university p, .university h4{
    padding-left: 5px;
}